/*
	FireTree
	Feito Por Alex Davi Fogaça Alves
	Proteja a floresta amazonica ela e nosso pulmão!
*/

/* Header */

	body.is-preload #header.alt > * {
		opacity: 1;
	}

	body.is-preload #header.alt .logo {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}